# Punjab Para Sports Association
DirectoryIndex index.html index.php

# Prevent directory browsing
Options -Indexes

# Allow access to all resources
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
</IfModule>

# MIME types
<IfModule mod_mime.c>
    AddType text/html .html
    AddType text/css .css
    AddType application/javascript .js
    AddType image/svg+xml .svg
</IfModule>
